on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - name: 🤘 checkout
      uses: actions/checkout@v2

    - name: 🙏 build
      run: dotnet build --configuration Release --output ./output

    - name: 🚀 deploy
      uses: Azure/functions-action@v1
      with:
        app-name: 'DurableFunctionsEpicFail'
        slot-name: 'production'
        package: './output'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_de1f23e6752e4065880178b59394607d }}
  